In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1={
    "name":['subhransu','pallai','sidharth'],
    "UID": ['19MCA1027','19MCA17','19MCA1026'],
    "location":['asansol','kolkata','bojboj'],
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df.to_csv("first.csv")

In [5]:
df

         UID location       name
0  19MCA1027  asansol  subhransu
1    19MCA17  kolkata     pallai
2  19MCA1026   bojboj   sidharth

In [6]:
df.to_csv("first_index_false.csv",index=False)

In [7]:
import numpy as np

In [8]:
arr=np.array([1,2,3,4,6,7,8,9,10])
print(arr)

[ 1  2  3  4  6  7  8  9 10]

In [9]:
def even_number(n):
    arr=np.array([n[i] for i in range(len(n)) if n[i]%2==0])
    print("Statistical Data")
    print("Mean",np.mean(arr))
    print("Median",np.median(arr))
    print(arr)

even_number(np.array([1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]))

Statistical Data
Mean 11.0
Median 11.0
[ 2  4  6  8 10 12 14 16 18 20]

In [10]:
import numpy as np
    
arr=np.array([[0, 3, 4], [1, 2, 4], [3, 4, 5]])
  
print("standerd Deviation and of arr : ", np.std(arr))
print("Shape of array:\n", np.shape(arr))
  
print("Covarinace matrix of x:\n", np.cov(arr))
print("variance of arr : ", np.var(arr))

standerd Deviation and of arr :  1.52347880009
Shape of array:
 (3, 3)
Covarinace matrix of x:
 [[ 4.33333333  2.83333333  2.        ]
 [ 2.83333333  2.33333333  1.5       ]
 [ 2.          1.5         1.        ]]
variance of arr :  2.32098765432

In [11]:
print(np.array([i for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] if i%2==0]))

[ 2  4  6  8 10 12 14 16 18 20]

In [12]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
np.random()

TypeError: 'module' object is not callable

In [38]:
np.array(np.random.rand(5))

array([ 0.26173726,  0.72086287,  0.45116073,  0.13352219,  0.09275875])

In [97]:
ser=pd.Series(np.random.rand(10))

In [67]:
type(ser)

pandas.core.series.Series

In [70]:
ser

0    0.716970
1    0.301107
2    0.672924
3    0.101449
4    0.487570
5    0.216999
6    0.649454
7    0.488871
8    0.309073
9    0.073203
dtype: float64

In [95]:
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [91]:
newdf.tail()

            0         1         2         3         4
329  0.668524  0.070900  0.079811  0.848612  0.101791
330  0.419646  0.084767  0.821373  0.958414  0.768147
331  0.879123  0.197687  0.496219  0.561989  0.015892
332  0.629273  0.872072  0.287689  0.557583  0.856222
333  0.844153  0.176233  0.382827  0.184810  0.340158

In [101]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.503338    0.505322    0.535895    0.534386    0.464895
std      0.276413    0.282848    0.287228    0.292993    0.297492
min      0.010579    0.000790    0.002065    0.008307    0.000539
25%      0.276821    0.266112    0.313665    0.274855    0.187273
50%      0.503673    0.526390    0.546353    0.560768    0.480153
75%      0.735538    0.759378    0.794262    0.794932    0.713791
max      0.996724    0.995802    0.996553    0.995704    0.996926

In [102]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [103]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [105]:
newdf.to_numpy()

AttributeError: 'DataFrame' object has no attribute 'to_numpy'