In [4]:
import numpy as np
import pandas as pd

In [5]:
dict1={
    "name":['subhransu','pallai','sidharth'],
    "UID": ['19MCA1027','19MCA17','19MCA1026'],
    "location":['asansol','kolkata','bojboj'],
}

In [6]:
df=pd.DataFrame(dict1)

In [7]:
df.to_csv("first.csv")

In [8]:
df

         UID location       name
0  19MCA1027  asansol  subhransu
1    19MCA17  kolkata     pallai
2  19MCA1026   bojboj   sidharth

In [10]:
df.to_csv("first_index_false.csv",index=False)