In [4]:
import numpy as np
import pandas as pd

In [5]:
dict1={
    "name":['subhransu','pallai','sidharth'],
    "UID": ['19MCA1027','19MCA17','19MCA1026'],
    "location":['asansol','kolkata','bojboj'],
}

In [6]:
df=pd.DataFrame(dict1)

In [7]:
df.to_csv("first.csv")

In [8]:
df

         UID location       name
0  19MCA1027  asansol  subhransu
1    19MCA17  kolkata     pallai
2  19MCA1026   bojboj   sidharth

In [10]:
df.to_csv("first_index_false.csv",index=False)

In [1]:
import numpy as np

In [4]:
arr=np.array([1,2,3,4,6,7,8,9,10])
print(arr)

[ 1  2  3  4  6  7  8  9 10]

In [10]:
def even_number(n):
    for i in range(len(n)):
        if(n[i]%2==0):
            print(n[i])

even_number(np.array([1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]))

2
4
6
8
10
12
14
16
18
20

In [18]:
import numpy as np
    
arr=np.array([[0, 3, 4], [1, 2, 4], [3, 4, 5]])
  
print("standerd Deviation and of arr : ", np.std(arr))
print("Shape of array:\n", np.shape(arr))
  
print("Covarinace matrix of x:\n", np.cov(arr))
print("variance of arr : ", np.var(arr))

standerd Deviation and of arr :  1.52347880009
Shape of array:
 (3, 3)
Covarinace matrix of x:
 [[ 4.33333333  2.83333333  2.        ]
 [ 2.83333333  2.33333333  1.5       ]
 [ 2.          1.5         1.        ]]
variance of arr :  2.32098765432

Shape of array:
 (5,)
Covarinace matrix of x:
 197.7