In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1={
    "name":['subhransu','pallai','sidharth'],
    "UID": ['19MCA1027','19MCA17','19MCA1026'],
    "location":['asansol','kolkata','bojboj'],
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df.to_csv("first.csv")

In [5]:
df

        name        UID location
0  subhransu  19MCA1027  asansol
1     pallai    19MCA17  kolkata
2   sidharth  19MCA1026   bojboj

In [6]:
df.to_csv("first_index_false.csv",index=False)

In [7]:
import numpy as np

In [8]:
arr=np.array([1,2,3,4,6,7,8,9,10])
print(arr)

[ 1  2  3  4  6  7  8  9 10]

In [9]:
def even_number(n):
    arr=np.array([n[i] for i in range(len(n)) if n[i]%2==0])
    print("Statistical Data")
    print("Mean",np.mean(arr))
    print("Median",np.median(arr))
    print(arr)

even_number(np.array([1,2,3,4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]))

Statistical Data
Mean 11.0
Median 11.0
[ 2  4  6  8 10 12 14 16 18 20]

In [10]:
import numpy as np
    
arr=np.array([[0, 3, 4], [1, 2, 4], [3, 4, 5]])
  
print("standerd Deviation and of arr : ", np.std(arr))
print("Shape of array:\n", np.shape(arr))
  
print("Covarinace matrix of x:\n", np.cov(arr))
print("variance of arr : ", np.var(arr))

standerd Deviation and of arr :  1.5234788000891208
Shape of array:
 (3, 3)
Covarinace matrix of x:
 [[4.33333333 2.83333333 2.        ]
 [2.83333333 2.33333333 1.5       ]
 [2.         1.5        1.        ]]
variance of arr :  2.3209876543209877

In [11]:
print(np.array([i for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20] if i%2==0]))

[ 2  4  6  8 10 12 14 16 18 20]

In [12]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
np.array(np.random.rand(5))

array([0.64856862, 0.59588835, 0.05011238, 0.27520523, 0.01954859])

In [14]:
ser=pd.Series(np.random.rand(10))

In [15]:
type(ser)

pandas.core.series.Series

In [16]:
ser

0    0.056253
1    0.228071
2    0.364779
3    0.190021
4    0.798566
5    0.819702
6    0.675236
7    0.988593
8    0.988936
9    0.089768
dtype: float64

In [17]:
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [18]:
newdf.tail()

            0         1         2         3         4
329  0.435078  0.007865  0.124035  0.601214  0.771733
330  0.490667  0.158212  0.038281  0.595858  0.331494
331  0.843343  0.944768  0.649458  0.459565  0.779539
332  0.231131  0.174878  0.134232  0.407107  0.592837
333  0.344476  0.617332  0.360412  0.133578  0.249501

In [19]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.498481    0.510918    0.484439    0.491169    0.473020
std      0.279589    0.304481    0.277292    0.289403    0.278697
min      0.003114    0.002798    0.000035    0.001384    0.004375
25%      0.251742    0.227632    0.245920    0.236503    0.236846
50%      0.498945    0.504679    0.473334    0.481471    0.445880
75%      0.721199    0.783052    0.710986    0.736202    0.702235
max      0.997602    0.998683    0.987347    0.997419    0.995871

In [20]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [21]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [25]:
newdf.to_numpy()

array([[0.07665034, 0.92794906, 0.272196  , 0.93455307, 0.05965371],
       [0.33854152, 0.11628632, 0.0886717 , 0.30648457, 0.11503016],
       [0.49571156, 0.3208376 , 0.39656209, 0.2160246 , 0.89371397],
       ...,
       [0.84334308, 0.94476773, 0.64945831, 0.45956452, 0.77953855],
       [0.2311315 , 0.17487751, 0.13423168, 0.40710707, 0.59283715],
       [0.34447587, 0.61733184, 0.36041181, 0.13357762, 0.2495013 ]])

In [26]:
newdf[0][0]=0.3

In [27]:
newdf.head()

          0         1         2         3         4
0  0.300000  0.927949  0.272196  0.934553  0.059654
1  0.338542  0.116286  0.088672  0.306485  0.115030
2  0.495712  0.320838  0.396562  0.216025  0.893714
3  0.571288  0.385922  0.841704  0.399461  0.643248
4  0.464481  0.983711  0.677798  0.411143  0.223468

In [30]:
newdf[0][1]="joy"       # newdf[column][row]="data"

<ipython-input-30-7ce2d72b65e9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[0][1]="joy"       # newdf[column][row]="data"

In [31]:
newdf.head()

          0         1         2         3         4
0       0.3  0.927949  0.272196  0.934553  0.059654
1       joy  0.116286  0.088672  0.306485  0.115030
2  0.495712  0.320838  0.396562  0.216025  0.893714
3  0.571288  0.385922  0.841704  0.399461  0.643248
4  0.464481  0.983711  0.677798  0.411143  0.223468

In [42]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [43]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.3,joy,0.495712,0.571288,0.464481,0.618228,0.972113,0.504824,0.592429,0.098498,...,0.951113,0.403105,0.111758,0.607339,0.362398,0.435078,0.490667,0.843343,0.231131,0.344476
1,0.927949,0.116286,0.320838,0.385922,0.983711,0.952596,0.59071,0.713919,0.845945,0.402516,...,0.184803,0.051066,0.416212,0.190429,0.128311,0.007865,0.158212,0.944768,0.174878,0.617332
2,0.272196,0.088672,0.396562,0.841704,0.677798,0.871856,0.430158,0.674286,0.737469,0.231018,...,0.781041,0.548762,0.881098,0.159184,0.879101,0.124035,0.038281,0.649458,0.134232,0.360412
3,0.934553,0.306485,0.216025,0.399461,0.411143,0.364614,0.469834,0.956506,0.194869,0.489801,...,0.022504,0.990355,0.327187,0.334693,0.555885,0.601214,0.595858,0.459565,0.407107,0.133578
4,0.059654,0.11503,0.893714,0.643248,0.223468,0.365387,0.367695,0.173964,0.142866,0.668873,...,0.309245,0.52946,0.981913,0.153735,0.625578,0.771733,0.331494,0.779539,0.592837,0.249501

In [45]:
newdf.head()

          0         1         2         3         4
0       0.3  0.927949  0.272196  0.934553  0.059654
1       joy  0.116286  0.088672  0.306485  0.115030
2  0.495712  0.320838  0.396562  0.216025  0.893714
3  0.571288  0.385922  0.841704  0.399461  0.643248
4  0.464481  0.983711  0.677798  0.411143  0.223468

In [50]:
newdf.sort_index(axis=0,ascending=False).head()

            0         1         2         3         4
333  0.344476  0.617332  0.360412  0.133578  0.249501
332  0.231131  0.174878  0.134232  0.407107  0.592837
331  0.843343  0.944768  0.649458  0.459565  0.779539
330  0.490667  0.158212  0.038281  0.595858  0.331494
329  0.435078  0.007865  0.124035  0.601214  0.771733

In [54]:
type(newdf[0])             # Combination of Series.. Data Frame generated.

pandas.core.series.Series

In [55]:
newdf2=newdf.copy()

In [57]:
newdf.head()

          0         1         2         3         4
0       0.3  0.927949  0.272196  0.934553  0.059654
1       joy  0.116286  0.088672  0.306485  0.115030
2  0.495712  0.320838  0.396562  0.216025  0.893714
3  0.571288  0.385922  0.841704  0.399461  0.643248
4  0.464481  0.983711  0.677798  0.411143  0.223468

In [58]:
newdf2[1][0]=11

<ipython-input-58-b39d38b26d79>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf2[1][0]=11

In [59]:
newdf2.head()

          0          1         2         3         4
0       0.3  11.000000  0.272196  0.934553  0.059654
1       joy   0.116286  0.088672  0.306485  0.115030
2  0.495712   0.320838  0.396562  0.216025  0.893714
3  0.571288   0.385922  0.841704  0.399461  0.643248
4  0.464481   0.983711  0.677798  0.411143  0.223468

In [60]:
newdf.head()

          0         1         2         3         4
0       0.3  0.927949  0.272196  0.934553  0.059654
1       joy  0.116286  0.088672  0.306485  0.115030
2  0.495712  0.320838  0.396562  0.216025  0.893714
3  0.571288  0.385922  0.841704  0.399461  0.643248
4  0.464481  0.983711  0.677798  0.411143  0.223468

In [61]:
newdf2.loc[0,1]=1

In [62]:
newdf2.head(3)

          0         1         2         3         4
0       0.3  1.000000  0.272196  0.934553  0.059654
1       joy  0.116286  0.088672  0.306485  0.115030
2  0.495712  0.320838  0.396562  0.216025  0.893714

In [73]:
pd.to_excel('my.xlsx',sheet_name="sheet1")

AttributeError: module 'pandas' has no attribute 'to_excel'

In [74]:
df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
                   index=['row 1', 'row 2'],
                   columns=['col 1', 'col 2'])

In [80]:
pd.__version__

'1.2.4'

In [82]:
df1.to_excel('output1.xlsx', engine='xlsxwriter')

ValueError: No Excel writer 'XlsxWriter'